.home {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: white; /* 헤더 배경을 흰색으로 설정 */
  color: black; /* 헤더 내 텍스트 색상을 검정으로 설정 */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #EDEDED; /* 올바른 색상 코드 형식 */
}
.nav-title {
  text-decoration: none;
  color: black; /* 텍스트 색상 설정 */
  font-size: 16px !important
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px; /* 링크 사이의 간격을 넓힘 */
  padding-left: 50px; /* 왼쪽 패딩 추가 */
}

/* 네비게이션 링크의 기본 스타일 */
.nav-link {
  text-decoration: none;
  color: black; /* 네비게이션 링크 색상을 검정으로 변경 */
  padding: 10px; /* 클릭 영역을 넓히기 위해 패딩 추가 */
  font-size: 14px !important
}

/* 활성화된 네비게이션 링크 스타일 */
.nav-link.active-link {
  color: #486AAE; /* 활성 링크의 텍스트 색상만 파란색으로 변경 */
  /* 밑줄을 제거했습니다 */
}

.nav-link:hover {
  text-decoration: none; /* 호버 시 밑줄 제거 */
}

.footer-links {
  position: absolute;
  bottom: 0;
  left: 10px;
  display: flex;
  align-items: center;
}

.footer-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.upload-box {
  border: 2px solid #000;
  border-radius: 10px;
  width: 300px; /* or the width you desire */
  height: 200px; /* or the height you desire */
  margin: 20px auto; /* centers the box */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px; /* or the size you want for the text */
  position: relative; /* 비디오 위치를 조정하기 위한 설정 */
}

.uploading {
  /* 업로드 상태에서의 스타일 */
  height: auto; /* 비디오 높이에 맞춰서 높이를 자동 조정 */
  padding-bottom: 20px; /* 박스 안의 비디오와의 간격 */
}

.upload-label, .reupload-label {
  display: block;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}

.reupload-label {
  /* 영상재업로드 버튼의 스타일 */
  color: blue; /* 링크처럼 보이도록 색상 변경 */
  text-decoration: underline; /* 밑줄을 그어 링크처럼 보이게 합니다 */
}

.reupload-button {
  display: block;
  margin-top: 10px;
  cursor: pointer;
  /* 버튼 스타일은 원하는 대로 추가 조정하세요 */
}

.video-container {
  position: relative;
  padding-top: 30px; /* X 버튼이 비디오 위에 위치할 수 있도록 패딩을 추가합니다 */
}

.video-player {
  width: 100%; /* 비디오 너비를 조정합니다 */
  /* 비디오 높이는 자동으로 설정됩니다 */
}

.close-button {
  position: absolute;
  top: 0; /* 버튼을 컨테이너의 맨 위에 배치합니다 */
  right: 0; /* 버튼을 컨테이너의 맨 오른쪽에 배치합니다 */
  background-color: #fff; /* 버튼 배경색을 설정합니다 */
  color: #000; /* 버튼 텍스트 색상을 설정합니다 */
  border: none;
  border-radius: 50%; /* 버튼을 원형으로 만듭니다 */
  padding: 0.5em; /* 버튼 내부 여백을 설정합니다 */
  cursor: pointer;
  font-weight: bold; /* 텍스트 굵기를 더 두껍게 설정합니다 */
  z-index: 10; /* 비디오 위에 나타나도록 z-index를 설정합니다 */
}