.video-player-container {
  padding: 50px;
}

.video-summary-wrapper {
  display: flex;
  gap: 10px;
}

.video-wrapper {
  flex: 5;
  display: flex;
  justify-content: center; /* 수평 정렬 */
  align-items: center; /* 수직 정렬 */
}

.video-frame {
  width: 100%; /* 비디오 프레임의 너비를 부모 요소에 맞춤 */
  max-width: 900px; /* 최대 너비를 설정하여 너무 커지지 않도록 함 */
  height: 600px; /* 고정된 높이 설정 */
}

.summary-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary-button {
  width: 500px; /* 버튼의 너비를 고정 */
  height: 500px; /* 버튼의 높이를 고정 */
  font-size: 16px;
  background-color: #fff4ef;
  color: rgb(0, 0, 0);
  border: 2px solid #FEB78D; /* 테두리 두께, 스타일, 색상 지정 */
  border-radius: 4px;
  cursor: pointer;
  margin: 50px 200px 80px 70px; /* 위쪽 여백을 줄여서 요소 간 간격을 좁힘 */
  text-align: center; /* 텍스트를 중앙 정렬 */
  white-space: pre-wrap; /* 텍스트 줄바꿈 허용 */
  overflow: auto; /* 넘치는 텍스트 숨김 */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px; /* 텍스트와 버튼 경계 사이에 여유 공간 추가 */
}

.summary-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.video-summary {
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  background-color: #fff;
}
