.ABOUT {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #ffffff; /* 헤더 배경을 흰색으로 설정 */
  color: black; /* 헤더 내 텍스트 색상을 검정으로 설정 */
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #FDCFBB; /* 올바른 색상 코드 형식 */
}

.nav-title {
  text-decoration: none;
  color: #FD8B64; /* 텍스트 색상 설정 */
  font-size: 25px !important;
  font-weight: bold; /* 텍스트를 두껍게 설정 */
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px; /* 링크 사이의 간격을 넓힘 */
  padding-left: 50px; /* 왼쪽 패딩 추가 */
}

/* 네비게이션 링크의 기본 스타일 */
.nav-link {
  text-decoration: none;
  color: black; /* 네비게이션 링크 색상을 검정으로 변경 */
  padding: 5px; /* 클릭 영역을 넓히기 위해 패딩 추가 */
  font-size: 19px !important;
}

/* 활성화된 네비게이션 링크 스타일 */
.nav-link.active-link {
  color: #FD8B64; /* 활성 링크의 텍스트 색상만 파란색으로 변경 */
  /* 밑줄을 제거했습니다 */
}

.nav-link:hover {
  text-decoration: none; /* 호버 시 밑줄 제거 */
}

.nav-auth {
  display: flex;
  align-items: center;
}

.profile-info {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.logout-button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  margin-right: 10px;
}

.footer-links {
  position: absolute;
  bottom: 0;
  left: 10px;
  display: flex;
  align-items: center;
}

.footer-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
